@using BSOS.Models;
@{
    ViewData["Title"] = "About";
    if (Customer.IsManager)
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    else
        Layout = "_Layout";
}

<body>
    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92">
        <h2 id="Title" class="ltext-105 cl0 txt-center" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/1010/580/949/texture-wallpaper-preview.jpg);">
            <br />
            About
        </h2>
    </section>


    <!-- Content page -->
    <section class="bg0 p-t-75 p-b-120">
        <div class="container">
            <div class="row p-b-148">
                <div class="col-md-7 col-lg-8">
                    <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                        <h3 class="mtext-111 cl2 p-b-16">
                            Who we are.
                        </h3>

                        <p class="stext-113 cl6 p-b-26">
                            We believe in a world where you have total freedom to be you, without judgement. To experiment. To express yourself. To be brave and grab life as the extraordinary adventure it is. So we make sure everyone has an equal chance to discover all the amazing things they’re capable of – no matter who they are, where they’re from or what looks they like to boss. We exist to give you the confidence to be whoever you want to be.
                        </p>

                        <p class="stext-113 cl6 p-b-26">
                            Our audience (AKA you) is wonderfully unique. And we do everything we can to help you find your fit, offering our BSOS Brands in more than 30 sizes – and we're committed to providing all sizes at the same price – so you can be confident we’ve got the perfect thing for you. We’re also proud to partner with GLAAD, one of the biggest voices in LGBTQ activism, on a gender-neutral collection to unite in accelerating acceptance.


                        </p>

                        <p class="stext-113 cl6 p-b-26">
                            We’re all about helping young talent – from cool new models to inspiring new voices, and it extends to more than just the world of fashion. We nurture creative peeps from all industries, so they can achieve brilliant things. Photographers, chefs, musicians… you name it, we find amazing people from around the world and help them to pursue their passion projects.
                        </p>
                    </div>
                </div>

                <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                    <div class="how-bor1 ">
                        <div class="hov-img0">
                            <img src="~/DesignShop/images/about-01.jpg" alt="IMG">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                    <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                        <h3 class="mtext-111 cl2 p-b-16">
                            The BSOS Brands.
                        </h3>

                        <p class="stext-113 cl6 p-b-26">
                            We don't do fashion like anyone else does fashion. Our BSOS Brands, created by our London design team, look between the lines to bring you the freshest clothing, shoes, accessories and gifts. When it comes to our curation of brands at BSOS, we select the best of those to give you the biggest variety, amazing exclusives and coolest collaborations. And in case that wasn't enough, we've also got a range of first-rate Face + Body products you can express yourself with, too. There are no rules – just endless ways to be you.
                        </p>

                        <p class="stext-113 cl6 p-b-26">
                            Giving you the confidence to express your individuality, BSOS DESIGN interprets major trends, adding that next-level BSOS spin. Representing in our size ranges (BSOS Curve, Tall, Petite and Maternity), we've got all the stuff you need to invent a style that’s all yours… making every day, night and everything in-between as extraordinary as you are.
                        </p>

                        <div class="bor16 p-l-29 p-b-9 m-t-22">
                            <p class="stext-114 cl6 p-r-40 p-b-11">
                                Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                            </p>

                            <span class="stext-111 cl8">
                                - Steve Job’s
                            </span>
                        </div>
                    </div>
                </div>

                <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                    <div class="how-bor2">
                        <div class="hov-img0">
                            <img src="~/DesignShop/images/about-02.jpg" alt="IMG">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <video width="320" height="240" controls>
                    <source src="~/CHANEL Fashion Film 2018 _ Cruise Collection _ Directed by VIVIENNE & TAMAS.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </section>

    <!--===============================================================================================-->
    <script src="~/DesignShop/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/DesignShop/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/DesignShop/vendor/bootstrap/js/popper.js"></script>
    <script src="~/DesignShop/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/DesignShop/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/DesignShop/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/DesignShop/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/DesignShop/js/main.js"></script>
</body>