@model IEnumerable<BSOS.Models.Customer>

@{
    ViewData["Title"] = "Log In";
}
<h1>Log In</h1>
<div><h3>please enter your deatails to log in</h3></div>
<div><input type="text" placeholder="Email" /></div>
<div><input type="password" placeholder="Passeord"</div>
<button type="submit">Submit</button>