@using BSOS.Models;
@{
    ViewData["Title"] = "EmptyShopCart";
    if (Customer.IsManager)
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    else
        Layout = "_Layout";
}

<br />
<br />
<br />
<br />
<br />
<section class="sec-blog bg0 p-t-60 p-b-90">
    <div class="container">
        <div class="p-b-66">
            <h3 class="ltext-105 cl5 txt-center respon1">
                There are currently no products in your shopping cart
            </h3>
        </div>
        <div class="flex-c-m flex-w w-full p-t-45">
            <a asp-controller="Products" asp-action="Index" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                To start shopping click here
            </a>
        </div>
    </div>
</section>


